<footer class="site-footer">
    <div class="wrapper">
        <p>&copy; {{ site.author }}</p>
        <p>
            {% if site.email %}<a href="mailto:{{ site.email }}">Email</a>{% endif %}
            {% if site.social_links.github %} | <a href="{{ site.social_links.github }}">GitHub</a>{% endif %}
            {% if site.social_links.linkedin %} | <a href="{{ site.social_links.linkedin }}">LinkedIn</a>{% endif %}
            {% if site.social_links.twitter %} | <a href="{{ site.social_links.twitter }}">Twitter</a>{% endif %}
            {% if site.social_links.instagram %} | <a href="{{ site.social_links.instagram }}">Instagram</a>{% endif %}
        </p>
    </div>
</footer>
  